* {
    margin: 0;
    padding: 0;
}

body {
    height: 6000px;

}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar .container {
    display: flex;
    align-items: center;

}

.container {
    width: 80%;
    margin: auto;

}

.navbar .logo {
    width: 30%;
}

.navbar .logo img {

    width: 200px;
}

.navbar .list {
    flex-grow: 1;
}

.list ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: flex-end;
}

.list ul a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.header {
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    height: 930px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-content {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-top: 2px solid rgb(255, 174, 0);
}